
<div class="clr-row">
  <div class="clr-col-4"></div>
  <div class="clr-col-4">

    <clr-datagrid>
      <clr-dg-column>Status Code</clr-dg-column>
      <clr-dg-column>Description</clr-dg-column>


      <clr-dg-row *ngFor="let code of this._appService.AdminService.status">
        <clr-dg-cell>{{code.code}}</clr-dg-cell>
        <clr-dg-cell>{{code.desc}}</clr-dg-cell>
      </clr-dg-row>


    </clr-datagrid>

  </div>
  <div class="clr-col-4"></div>
</div>


<clr-modal [(clrModalOpen)]="this._appService.AdminService._busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">Loading..</h3>
  <div class="modal-body text-center">
    <img src="./../../../Support/assets/images/loading_2.gif" alt="LOADING.." style="width:100%; height:100%;" />
  </div>
</clr-modal>
