
<div class="clr-row">
  <div class="clr-col-4"></div>
  <div class="clr-col-4">

    <clr-datagrid>
      <clr-dg-column>CommentId</clr-dg-column>
      <clr-dg-column>Description</clr-dg-column>


      <clr-dg-row *ngFor="let code of this._appService.AdminService.comments" (click)="this.EditComment(code)">
        <clr-dg-cell>{{code.id}}</clr-dg-cell>
        <clr-dg-cell>{{code.comment}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer><button class="btn btn-sm" (click)="CreateNew()">Add Comment</button></clr-dg-footer>
    </clr-datagrid>

  </div>
  <div class="clr-col-4"></div>
</div>
<clr-modal [(clrModalOpen)]="this._appService.AdminService._busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">Loading..</h3>
  <div class="modal-body text-center">
    <img src="./../../../Support/assets/images/loading_2.gif" alt="LOADING.." style="width:100%; height:100%;" />
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._openModel" [clrModalClosable]="false">
  <h3 class="modal-title">Comment Details</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="commentForm">
      <clr-input-container>
        <label>Description</label>
        <input clrInput formControlName="desc" />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this._openModel = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="this.AddNewComment()" *ngIf="!this._edit" [disabled]="!this.commentForm.valid">Submit</button>
    <button type="button" class="btn btn-primary" (click)="this.UpdateComment()" *ngIf="this._edit">Update</button>
  </div>
</clr-modal>
