<div class="clr-row">
  <div class="clr-col-2"></div>
  <div class="clr-col-8">

    <clr-datagrid>
      <clr-dg-column>Client</clr-dg-column>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Surname </clr-dg-column>
      <clr-dg-column>Username</clr-dg-column>
      <clr-dg-column>Email</clr-dg-column>
      <clr-dg-column>CreateDate</clr-dg-column>
      <clr-dg-column>ChangeDate</clr-dg-column>
      <clr-dg-column>Usertype</clr-dg-column>
 

      <clr-dg-row *ngFor="let user of this._appService.AdminService.users" (click)="OpenEdit(user)">
        <clr-dg-cell>{{user.client}}</clr-dg-cell>
        <clr-dg-cell>{{user.name}}</clr-dg-cell>
        <clr-dg-cell>{{user.surname}}</clr-dg-cell>
        <clr-dg-cell>{{user.username}}</clr-dg-cell>
        <clr-dg-cell>{{user.email}}</clr-dg-cell>
        <clr-dg-cell>{{user.createDate}}</clr-dg-cell>
        <clr-dg-cell>{{user.changeDate}}</clr-dg-cell>
        <clr-dg-cell>{{user.type}}</clr-dg-cell>

      </clr-dg-row>
      <clr-dg-footer><button class="btn btn-sm" (click)="OpenNew()">Add Users</button></clr-dg-footer>

    </clr-datagrid>

  </div>
  <div class="clr-col-2"></div>
</div>


<clr-modal [(clrModalOpen)]="this._appService.AdminService._busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">Loading..</h3>
  <div class="modal-body text-center">
    <img src="./../../../Support/assets/images/loading_2.gif" alt="LOADING.." style="width:100%; height:100%;" />
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._openModel" [clrModalClosable]="false">
  <h3 class="modal-title">USER DETAILS</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="userForm">
      <clr-select-container>
        <label>Client</label>
        <select clrSelect formControlName="client">
          <option *ngFor="let client of  this._appService.AdminService.clients" [ngValue]="client.id">{{client.name}}</option>
        </select>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-select-container>
      <clr-input-container>
        <label>Name</label>
        <input clrInput formControlName="name" />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Surname</label>
        <input clrInput formControlName="surname" />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-input-container *ngIf="!this._edit">
        <label>Username</label>
        <input clrInput formControlName="username" />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Email</label>
        <input clrInput formControlName="email" />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Password</label>
        <input clrInput formControlName="password" />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-select-container>
        <label>UserType</label>
        <select clrSelect formControlName="type">
          <option [ngValue]="0">Admin</option>
          <option [ngValue]="1">Local</option>
          <option [ngValue]="2">SysAdmin</option>
          <option [ngValue]="3">LocalAdmin</option>
        </select>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-select-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this._openModel = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="this.AddNewUser()" *ngIf="!this._edit" [disabled]="!this.userForm.valid">Submit</button>
    <button type="button" class="btn btn-primary" (click)="this.updateUser()" *ngIf="this._edit">Update</button>
  </div>
</clr-modal>
