<div class="login-wrapper">
  <form class="login" clrForm [formGroup]="LoginForm">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      PAMC Request Service
      <h5 class="hint"></h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" formControlName="username" clrInput placeholder="Username" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" formControlName="password" clrPassword placeholder="Password" />
      </clr-password-container>
      <div class="error active" *ngIf="this._appService.LoginService.usernameError">
        <div class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">Invalid Username or Password!!</span>
            </div>
          </div>
        </div>
      </div>
      <div class="error active" *ngIf="this._appService.LoginService.connectionError">
        The Webservice is unavailable!
      </div>
      <button type="submit" class="btn btn-primary" (click)="this.LogIn()" [disabled]="!this.LoginForm.valid">LOGIN</button>
    </div>
  </form>
</div>

<clr-modal [(clrModalOpen)]="this._appService.LoginService._busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center">
    <span class="spinner">
      Loading...
    </span>
  </div>

</clr-modal>
