<form clrForm [formGroup]="searchForm" clrLayout="compact">
  <clr-input-container>
    <label>Search</label>
    <input clrInput formControlName="search" />
    <clr-control-helper><span (click)=" Filter()" style="cursor:pointer"><clr-icon shape="search"></clr-icon></span></clr-control-helper>
    <clr-control-helper><span (click)=" ClearFilter()" style="cursor:pointer"><clr-icon shape="times"></clr-icon></span></clr-control-helper>
  </clr-input-container>
</form>
<br />
<clr-datagrid>
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Surname</clr-dg-column>
  <clr-dg-column >Reference</clr-dg-column>
  <clr-dg-column >Client Name</clr-dg-column>
  <clr-dg-column >Status</clr-dg-column>
  <clr-dg-column>Subject</clr-dg-column>
  <clr-dg-column>Create Date</clr-dg-column>
  <clr-dg-column>Change Date</clr-dg-column>
  <clr-dg-column>Importance</clr-dg-column>
  <clr-dg-column>Assigned</clr-dg-column>


  <clr-dg-row *ngFor="let ticket of this._appService.TicketService.listOfAllTickets">
    <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.name}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.name}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.surname}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.surname}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.reference}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.reference}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.clientIdDesc}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.clientIdDesc}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.statDisc}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.statDisc}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.subject}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.subject}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.createDate}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.createDate}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.changeDate}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.changeDate}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.importance}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.importance}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.assignedTo}}</clr-dg-cell>
    <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.assignedTo}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{this._appService.TicketService.listOfAllTickets}} Tickets</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="this._appService.TicketService._busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">Loading..</h3>
  <div class="modal-body text-center">
    <img src="./../../../Support/assets/images/loading_2.gif" alt="LOADING.." style="width:100%; height:100%;" />
  </div>
</clr-modal>
