
<div class="clr-row">
  <div class="clr-col-4"></div>
  <div class="clr-col-4">

    <clr-datagrid>
      <clr-dg-column>CategoryDescription</clr-dg-column>
      <clr-dg-column>SLA</clr-dg-column>


      <clr-dg-row *ngFor="let code of this._appService.AdminService.categories" >
        <clr-dg-cell>{{code.desc}}</clr-dg-cell>
        <clr-dg-cell>{{code.sla}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer><button class="btn btn-sm" (click)="CreateNew()">Add Category</button></clr-dg-footer>
    </clr-datagrid>

  </div>
  <div class="clr-col-4"></div>
</div>
<clr-modal [(clrModalOpen)]="this._appService.AdminService._busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">Loading..</h3>
  <div class="modal-body text-center">
    <img src="./../../../Support/assets/images/loading_2.gif" alt="LOADING.." style="width:100%; height:100%;" />
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._openModel" [clrModalClosable]="false">
  <h3 class="modal-title">Category Details</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="catForm">
      <div class="clr-row">
        <div class="clr-col-9">
          <clr-input-container>
            <label>Description</label>
            <input clrInput formControlName="desc" />
            <clr-control-error>This field is required!</clr-control-error>
          </clr-input-container>
        </div>
        <div class="clr-col-3">
          <br />
          <clr-toggle-wrapper>
            <input type="checkbox" clrToggle formControlName="sla" />
            <label>Show</label>
          </clr-toggle-wrapper>
        </div>
      </div>



    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this._openModel = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="this.AddNewCategory()"  [disabled]="!this.catForm.valid">Submit</button>
  </div>
</clr-modal>
