
<div class="clr-row">
  <div class="clr-col-4"></div>
  <div class="clr-col-4">

    <clr-datagrid>
      <clr-dg-column>Client</clr-dg-column>
      <clr-dg-column>Category</clr-dg-column>
      <clr-dg-column>Username</clr-dg-column>


      <clr-dg-row *ngFor="let code of this._appService.AdminService.cateas" (click)="OpenEdit(code)">
        <clr-dg-cell>{{code.client}}</clr-dg-cell>
        <clr-dg-cell>{{code.desc}}</clr-dg-cell>

        <clr-dg-cell>{{code.username}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer><button class="btn btn-sm" (click)="CreateNew()">Add Category</button></clr-dg-footer>
    </clr-datagrid>

  </div>
  <div class="clr-col-4"></div>
</div>
<clr-modal [(clrModalOpen)]="this._appService.AdminService._busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">Loading..</h3>
  <div class="modal-body text-center">
    <img src="./../../../Support/assets/images/loading_2.gif" alt="LOADING.." style="width:100%; height:100%;" />
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._openModel" [clrModalClosable]="false">
  <h3 class="modal-title">Category Details</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="catAsForm">

      <clr-select-container *ngIf="!this._edit">
        <label>Client</label>
        <select clrSelect formControlName="client">
          <option>SELECT A CLIENT</option>
          <option *ngFor="let client of  this._appService.AdminService.clients" [ngValue]="client.id">{{client.name}}</option>
        </select>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-select-container>
      <clr-input-container *ngIf="this._edit">
        <label style="white-space:nowrap">Client &nbsp;&nbsp;&nbsp;{{this._selectedRec.client}}</label>
      </clr-input-container>
      <clr-input-container *ngIf="this._edit">
        <label style="white-space:nowrap">Category  &nbsp;&nbsp;&nbsp;{{this._selectedRec.desc}}</label>
      </clr-input-container>
      <clr-select-container *ngIf="!this._edit">
        <label>Category</label>
        <select clrSelect formControlName="cat" (change)="Test()">
          <option>SELECT A CATEGORY</option>
          <option *ngFor="let categ of  this._appService.AdminService.categories" value={{categ.id}}>{{categ.desc}}</option>
        </select>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-select-container>
      <clr-select-container>
        <label>Assign</label>
        <select clrSelect formControlName="assign">
          <option>SELECT A USERNAME</option>
          <option *ngFor="let user of  this._appService.AdminService.users" [ngValue]="user.username">
            {{user.username}}
          </option>
        </select>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-select-container>





    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this._openModel = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="this.UpdateCategoryAssign()" *ngIf="this._edit">UPDATED</button>
    <button type="button" class="btn btn-primary" (click)="this.AddNewCategoryAssign()" [disabled]="!this.catAsForm.valid" *ngIf="!this._edit">Submit</button>
  </div>
</clr-modal>
